.DS_Store
export/data.csv
export/network_graph.gexf
__pycache__/agents.cpython-312.pyc
__pycache__/functions.cpython-312.pyc
__pycache__/main.cpython-312.pyc
__pycache__/parameters.cpython-312.pyc
graphs/2D_Plot_No_1.png
graphs/3D_Plot_No_1.png
graphs/3D_plot_no_2.png
graphs/VV_2D_Plot_No_1.png
graphs/VV_3D_Plot_No_1.png
graphs/VV_3D_plot_no_2.png
